.choices-cont {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    width: 70%;
}


.choice {
    width: 50%;
    text-align: center;
}

.series {
    border-left: 1px solid rgb(228, 228, 232);
}