.choices-cont {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(0, 0, 255, 0.768);
    border-radius: 5px;
    width: 70%;
}


.choice {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.series {
    border-left: 1px solid rgba(0, 0, 255, 0.844);
}

.selected {
    border-bottom: 2px solid white;
}