.homepage-cont {
    height: 100vh;
    padding-top: 15vh;
    display: flex;
}

.homepage-cont .info-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.homepage-cont .info-cont span {
    font-family: "Caveat Brush", cursive;
    font-size: 3.5rem;
    font-weight: 700;
    font-style: normal;
    color: rgb(37, 0, 172);
}

.homepage-cont .image-cont {
    width: 50%;
}

.homepage-cont .image-cont img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    height: 85vh;
}

.user-redirs {
    display: flex;
    gap: 20px;

}

.redirs {
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
}

.get-started {
    width:130px;
}


@media (max-width:910px) {

    .info-cont {
        width: 60%;
        padding-left:10px;
    }

    .image-cont {
        width: 40%;
    }
}

@media (max-width:520px) {
    .homepage-cont {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0px;
    }

    .image-cont img {
        object-fit: cover;
        object-position: center;
    }
    
    .info-cont{
        height: 50%;
        padding-left:10px;
    }

    .image-cont {
        height: 50%;

    }  
}