.movies-cont {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 5px;
}

@media (max-width:1150px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:950px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:650px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr;
    }
}


.other-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e3e3e5;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}



.single-movie {
    background-color: rgb(0, 11, 35);
    border-radius: 5px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.single-movie:hover {
    opacity: 0.7;
    cursor: pointer;
}

.movie-img-cont {
    height: 90%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;

}

.movie-img-cont img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}

.movie-detail-cont {
    box-shadow: 0px -50px 70px 5px rgb(1, 9, 50);
    height: 10%;
    overflow: hidden;
    text-align: center;
    color: white;
}