.detail-movie-cont {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 98vw;
    height: 100vh;
    padding: 10px;
}

.video-cont {
    background-color: rgba(240, 248, 255, 0.224);
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.video {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.video iframe {
    width: 100%;
}

.detail-exp-cont {
    border: 1px solid black;
    height: 40%;
    width: 95%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
}


.detail-exp-cont .movie-img-cont {

    width: 30%;
    height: 100%;
}

.detail-exp-cont .movie-img-cont img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.detail-exp-cont .detail-movie {
    border: 1px solid white;
    width: 70%;
    height: 100%;
}