.movies-cont {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.single-movie {
    background-color: blue;
    border-radius: 5px;
    height: 350px;
}

@media (max-width:1150px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:950px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:650px) {
    .movies-cont {
        grid-template-columns: 1fr 1fr;
    }
}